/* -------------------------------------------------------------------HEADER--------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------HEADER--------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------HEADER--------------------------------------------------------------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;             
}

body{
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
}

ul{
  list-style: none;
}

a{
  text-decoration: none ;
}

header{
  position: sticky;
  top: 0px;
  background-color: #60b4df;
  width: 100%;
  z-index: 1000;
  height: auto;
}

 .healthcare-container {
   max-width: 95%;
   padding: 0 2rem;
   margin: 0 auto;
   display: flex;
   position: relative;
 }

.logo-container {
  flex: 1;
   display: flex;
  align-items: center; 
}

.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links{
  flex: 2;
  
}

.log-sign{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
}

.logo span {
  font-weight: 300;
}

.btn {
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: .8rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 .2rem;
  transition: .3s;
  text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
  background-color: #fff;
  color: #69bde7;
   border: 2px solid #fff;
   border-radius: 2rem;
}


.btn.transparent,
.btn.solid:hover {
  background-color: transparent;
  color: #fff;
}

.btn.solid2 {
  background-color: rgb(233, 110, 39);
  color: white;
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: .8rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  line-height: 1;
  margin-right: 6rem;
}

.nav-links>ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link>a {
  line-height: 3rem;
  color: #fff;
  padding: 0 .8rem;
  letter-spacing: 1px;
  font-size: .95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
  margin-left: 2.2rem;
}

.nav-link:hover>a {
  transform: scale(1.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 34%;
  width: 10rem;
  transform: translateY(10px);
   opacity: 0;
   pointer-events: none;
   transition: .5s;
}

.dropdown ul {
  position: relative;
}

.dropdown-link>a {
  display: flex;
  background-color: #fff;
  color: #3498db;
  padding: .5rem 1rem;
  font-size: .9rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}

.dropdown-link:hover>a {
  background-color: #3498db;
  color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid #efefef;
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #fff;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .3s;
  z-index: -1;
}

.dropdown-link:first-child:hover~.arrow {
  background-color: #3498db;
}

.nav-link:hover>.dropdown,
.dropdown-link:hover>.dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  margin-right: 15%;
  position: relative;
  z-index: 1001;
   transition: .5s;
  
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: 3px;
   transition: .5s;
}

.hamburger-menu div:before {
  transform: translateY(-7px);
}

.hamburger-menu div::after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked~.hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}

#check:checked~.hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked~.hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}


@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}



@media (max-width: 920px) {
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-btn {
    position: fixed;
    height: calc(100vh - 3rem);
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: #69bde7;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: .65s;
  }

   #check:checked~.nav-btn {
     transform: translateX(0);
   }

   #check:checked~.nav-btn .nav-link,
   #check:checked~.nav-btn .log-sign {
     animation: animation .5s ease forwards var(--i);
   }


  .nav-links{
    flex: initial;
     width: 100%;
  }

  .nav-links>ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link>a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover>a {
    transform: scale(1);
    background-color: #50a9d6;
  }

  .dropdown{
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: #3183ac;
    display: none;
  }

  .nav-link:hover>.dropdown,
  .dropdown-link:hover>.dropdown {
    display: block;
  }

  .nav-link:hover>a>i,
  .dropdown-link:hover>a>i {
    transform: rotate(360deg);
  }

  .dropdown-link>a {
    background-color: transparent;
    color: #fff;
     padding: 1.2rem 2rem;
    line-height: 1;
  }

   .dropdown-link:not(:nth-last-child(2)) {
     border-bottom: none;
   }

   .arrow {
     z-index: 1;
     background-color: #69bde7;
     left: 10%;
     transform: scale(1.1) rotate(45deg);
     transition: .5s;
   }

   .nav-link:hover .arrow {
     background-color: #50a9d6;
   }

   .dropdown .dropdown .arrow {
     display: none;
   }

   .dropdown-link:hover>a {
     background-color: #3a91bd;
   }

   .dropdown-link:first-child:hover~.arrow {
     background-color: #50a9d6;
   }

   .nav-link>a>i {
     font-size: 1.1rem;
     transform: rotate(-90deg);
     transition: .7s;
   }

   .dropdown i {
     font-size: 1rem;
     transition: .7s;
   }


  .log-sign{
    flex: initial;
    width: 100%;
    padding: 1.5rem 1.9rem;
    justify-content: flex-start;
    opacity: 0;
    transform: translateY(15px);
  }
}


/* -------------------------------------------------------------------CAROUSEL--------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------CAROUSEL--------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------CAROUSEL--------------------------------------------------------------------------------- */


.carousel-item{
  height: 40rem;
  background: #000;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}

.container_carousel{
  position: absolute;
  bottom: 0;
  left: 100px;
  right: 0;
  padding-bottom: 50px;
}

.overlay-image{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: 30% 30%;
  background-size: cover;
  opacity: 0.5;
}

/* -------------------------------------------------------------------MARQUEE--------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------MARQUEE--------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------MARQUEE--------------------------------------------------------------------------------- */

.marquee-ad{
  padding:0;
  margin:0;
  list-style: none;
}

.ticker-left{
  font-family: Tahoma;
}

marquee{
  background: #f7043c;
  margin: 30px auto;
  display: block;
  color: white;
  width: 100%;
  height: 40px;
}

.ticker-left li{
  display: inline-block;
  font-size: 28px;
  line-height: 40px;
  min-width: 50%;
}

/* ----------------------------------------------------------------------CARDS_FIRST_PAGE--------------------------------------------------------------------------------- */

.container_cards{
  /* margin-left: 80px; */
   background-color:rgba(227, 238, 236, 0.65); 
}

.item {

  margin-top: 10px;
}

.item i{
  
  font-size: 2.5rem;
  font-weight: 900;
  padding: 1.5rem;
  color: #46b7de;
  border: 1px solid rgb(243, 242, 242);
  border-radius: 50%;
  transition: all 0.5s ease-in-out ;
}

 .item i:hover{
   background-color: #46b7de;
   color: white;
 }


/* ----------------------------------------------------------------------PARALLAX_EFFECT--------------------------------------------------------------------------------- */

.parallax_effect{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato";
  font-weight: 400;
  line-height: 1.8rem;
  color: #666;
}

.img1,.img2{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img1 {
  background-image: url("./parallax_1.jpg");
  min-height: 600px;
}

.img2 {
  background-image: url("./parallax_2.jpg");
  min-height: 600px;
}

.section {
  text-align: center;
  padding: 50px 80px 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 10px;
  /* white-space: normal; */
}

/* .ptext .trans {
  background-color: transparent;
} */

/* for small scale device*/
@media(max-width:568px) {

  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

