@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

h1{
  font-family: 'Dancing Script', cursive;
}

nav .nav-link{
  color:#212529 !important;
}

nav .nav-link:hover{
  color:#dc3545 !important;
}

/* -----------------------------CAROUSEL------------------------------------------ */
.carousel-item{
  height: 45rem;
  background: #000;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}

.container_carousel{
  position: absolute;
  bottom: 0;
  left: 100px;
  right: 0;
  padding-bottom: 50px;
}

.overlay-image{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: 30% 30%;
  background-size: cover;
  opacity: 0.5;
}

/* -----------------------------Services------------------------------------------ */
.services-item {
  background-color: #E0E0E0;
  margin: 1%;
}

#services em {
  font-size: 2.5rem;
  font-weight: 900;
  padding: 1.5rem;
  color: #FF5D73;
  border: 1px solid #FF5D73;
  border-radius: 50%;
  transition: all 0.5s ease-in-out ;
}

#services em:hover {
  background-color: #FF5D73;
   color: white;
}

#services a {
  background-color: #FF334E;
}

#services a:hover {
  background-color: #FF5C72;
}

/* -----------------------------Covid19------------------------------------------ */
#covid19 .accordion-body {
  background-color:#FFD6DC;
}

#covid19 .accordion-button {
  background-color: #FFADBA;
  color: black;
  font-weight: bold;
}

#covid19 .accordion-button:focus {
  color: black;
  font-weight: bold;
  box-shadow: none;
}


/* ------------------ Swiper Quotes Card -------------------- */
.owl-carousel .card {
  height: 400px;
}